﻿@model PagedList.IPagedList<CW8.DAL.Entities.Topic>
@using PagedList.Mvc;
@{
    ViewBag.Title = "forum";
    Layout = "_Layout";
}

<h2>Forum</h2>


@foreach (var item in Model) {
    <div class="card">
        <div class="card-header">
            <a asp-action="Show" asp-controller="Topic" asp-route-id="@item.Id">
                @item.Title
            </a>
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>Author: @item.TopicStarter.Email</p>
                <p>Comments @item.Comments.Count</p>
                <footer class="blockquote-footer"><cite title="Source Title">@item.CreatedOn</cite></footer>
            </blockquote>
        </div>
    </div>
}
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    