﻿
@model CW8.DAL.Entities.Topic

@{
    ViewBag.Title = Model.Title;
    Layout = "_Layout";
}



<div class="container">
    
    <h2>@Model.Title</h2>
    <br>
    <h4>
        @Model.Description
    </h4>
    <h3>
        Comments:
    </h3>
    @foreach (var item in Model.Comments)
    {
        <h4>
            (@item.CreatedOn.ToShortDateString()) >>> @item.CommentAuthor (Has @item.CommentAuthor.Comments.Count comments) --- @item.CommentText
        </h4>
    }
    <form asp-action="Add" asp-controller="Comment" method="post">
        <input name="CommentText" cols="30" rows="10">
        <input type="hidden" name="topicId" value="@Model.Id">
        <div class="form-group">
            <input type="submit" value="Comment" class="btn btn-primary"/>
        </div>
    </form>
</div>


